<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SRX.HeadAdmin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SRX.HeadAdmin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup><applicationSettings>
        <SRX.HeadAdmin.Properties.Settings>
            <setting name="AllowNarrator" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MapsFilePath" serializeAs="String">
                <value>Data\\Maps.txt</value>
            </setting>
            <setting name="CommentCharacter" serializeAs="String">
                <value>;</value>
            </setting>
            <setting name="ConfigFilePath" serializeAs="String">
                <value>Config.txt</value>
            </setting>
        </SRX.HeadAdmin.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <SRX.HeadAdmin.Properties.Settings>
            <setting name="ServerIP" serializeAs="String">
                <value>0.0.0.0</value>
            </setting>
            <setting name="ApplicationName" serializeAs="String">
                <value>SRX.HeadAdmin {version}</value>
            </setting>
            <setting name="ServerPort" serializeAs="String">
                <value>27015</value>
            </setting>
            <setting name="ServerRconPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="Temp_SlapPower" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="Temp_BanTime" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Temp_BanReason" serializeAs="String">
                <value />
            </setting>
            <setting name="Temp_AllowBan" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Temp_ScanMinutes" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Temp_ScanSeconds" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Temp_IsMapChanged" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Temp_IsNextMapChanged" serializeAs="String">
                <value>False</value>
            </setting>
        </SRX.HeadAdmin.Properties.Settings>
    </userSettings>
</configuration>
